@using GoodGameDatabase.Web.ViewModels.Game;
@model GameDetailsViewModel

<form>
    <div>
        <label class="hidden">
            <input name="gameId" value="@Model.Id" />
        </label>
    </div>

    <button name="liked" value="true" type="submit"
            asp-controller="Game"
            asp-action="Like"
            class="middle none center rounded-lg bg-pink-500 p-3 font-sans text-xs font-bold uppercase text-white shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            data-ripple-light="true">

        <i class="fa-solid fa-heart"></i>
    </button>
</form>